/*
Challenge:
Center the text in the <p> and <h4> elements.

Note: you should only add ONE property, as inheritance 
should take care of applying it to both elements.
*/

body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    color: gold;
    border-radius: 5px;
    
    background-color:  #001d3d;
    

}


.border-blue {
    border-radius: 5px;
    text-align: center;
    border-bottom: 20px;

}